{{> menu}}

{{#with singlePlaylist}}

<<<<<<< HEAD
<section class="ui center aligned middle scrolling segment">
    <h2 class="ui header">
        {{uppercase title}}
=======
<section class="ui cneter aligned middle scrolling segment">
    <h2 class="ui header">
        {{title}}
>>>>>>> 319e14734ea7ccebc984d21092c099888a051b76
    </h2>
    {{> listsongs}}
</section>

<section class="ui center aligned middle aligned segment">

    {{> addsong}}

</section>

<<<<<<< HEAD
{{/with}}
=======
{{/with}}
>>>>>>> 319e14734ea7ccebc984d21092c099888a051b76
