html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Benton Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 2em;
    background-color: lightgrey;
}